@import "colors";

.data-sets-container {
  margin-top: 32px;
}

.basic-table {
  border: 1px solid $bg-primary-shade-two;
  background-color: $bg-primary-shade-one;
  th {
    border-bottom: 1px solid $bg-primary-shade-two;
    color: $content-primary;
  }
  td {
    border-bottom: 1px solid $bg-primary-shade-two;
    color: $content-primary;
  }
}

.table-th-hover:hover {
  background-color: $bg-primary-shade-two;
  cursor: pointer;
}

.column-modal {
  &__toolbar {
    display: flex;
    gap: 16px;
  }
}
